body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #81D0FF;
}

p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.logintable {
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    border: none;
    width: 25%;
    height: 250px;
    box-shadow: 3px 3px 10px #2e2e2e;
}

.logintabletd {
    border: none;
    height: 40px;
}


input[type=submit] {
    background-color: #81D0FF;
    border-radius: 5px;
    border-color: white;
    color: white;
    border-style: none;
    width: 80px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
}

input[type=text], input[type=password] {
    border-radius: 5px;
    border-color: white;
    border-style: none;    
    width: 160px;
    height: 25px;
    padding: 5px;
    background-color: #eaeaea;
}

select {
    border-radius: 5px;
    border-color: white;
    border-style: none;    
    width: 160px;
    height: 25px;
    padding: 5px;
    color: black;
    background-color: #eaeaea;
}

.forgot {
    height: 10px;
    background-color: white;
}

.link {
    color: #81D0FF;
}

.submit {
    height: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.errormsg {
    color: red;
    height: 10px;
}

.image {
    padding-bottom: 50px;
    padding-top: 50px;
}